<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medev Account</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
</head>
<body class="blue">


<!-- Start your project here-->
<div style="height: 100vh;">
    <div class="flex-center flex-column ">
        <div class="flex-center flex-row" style="height:auto">
            <image class="d-inline" src="https://medev.hu/static/media/medev_logo.618e982e.svg" style="max-width:100px;"/>
            <h1 class="text-white">Medev</h1>
        </div>

        {% block content %}

        {% endblock %}
    </div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>

{% block scripts %}
    <script>
        function toggleSpinner(visible){
            if(visible){
                $("button").prop('disabled', true);
            }else{
                $("button").prop('disabled', false);
            }
        }

        $.urlParams = function(name){
            let results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results ? results[1] || 0: false;
        };

        $(document).ready(function(){
            $("form").submit((event) => {
                console.log(event);
                toggleSpinner(true);
            });
        });
    </script>
{% endblock %}


</body>
</html>