<form method="post">
    <label>
        Új jelszó:
        <input name="newPassword" type="password"/>
    </label>
    <label>
        Új jelszó ismét:
        <input name="newPasswordAgain" type="password"/>
    </label>
    <input type="submit" value="Küldés"/>
</form>