{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
<label>
    Új jelszó:<br/>
    <input id="newPassword" type="password"/>
</label>
<br/>
<label>
    Új jelszó ismét:<br/>
    <input id="newPasswordAgain" type="password"/>
</label>
<br/>
<button id="changePassword">Küldés</button>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("button#changePassword").click((event) => {
            event.preventDefault();

            $.ajax({
                url: "{{ changeUrl }}",
                method: "post",
                data: {
                    "newPassword": $("#newPassword").val(),
                    "newPasswordAgain": $("#newPasswordAgain").val(),
                    "token": "{{ token }}",
                },
                success: (data, status, jqxhr) => {
                    console.log(data.responseJSON);
                },
                error: (data, status, jqxhr) => {
                    console.log(data.responseJSON);
                },
            });
        })
    });
</script>
{% endblock %}

