{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
<label>
    New password:<br/>
    <input id="newPassword" type="password"/>
</label>
<br/>
<label>
    New password again:<br/>
    <input id="newPasswordAgain" type="password"/>
</label>
<br/>
<button id="changePassword">Change Password</button>

<div id="responseBox">

</div>



{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("button#changePassword").click((event) => {
            event.preventDefault();

            $.ajax({
                url: "{{ changeUrl }}",
                method: "post",
                data: {
                    "newPassword": $("#newPassword").val(),
                    "newPasswordAgain": $("#newPasswordAgain").val(),
                    "token": "{{ token }}",
                },
                success: (data, status, jqxhr) => {
                    console.log(data.responseJSON);
                    showResponseMessage(true, "Password changed successfully","Go to <a href=\"{{ loginUrl }}\">login page</a>.")
                },
                error: (data, status, jqxhr) => {
                    console.log(data);
                    switch (data.status) {
                        case 401 : showResponseMessage(false, "Token invalid or expired.", "Request another token <a href=\"{{ forgotUrl }}\">here</a>, or contact system administrator."); break;
                        case 400 : showResponseMessage(false, data.responseJSON, ""); break;
                        default : showResponseMessage(false, "Fatal error during password change request", "Please contact system administrator"); break;
                    }
                },
            });
        })
    });

    function showResponseMessage(isSuccess, title, message){
        let box = $("#responseBox");
        let color = "red";

        if(isSuccess){
            color = "green";
        }

        $(box).css("color",color);
        $(box).html("<h2>"+title+"</h2><h2>"+message+"</h2>");
    }

</script>
{% endblock %}

