{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
    <div class="message-box d-none animated alert alert-danger " role="alert">
    </div>

    <div class="card animated fadeInRight">
        <div class="card-body">
            <h4 class="card-title">Password recovery</h4><br/>

            <input id="usermail" name="usermail" type="text" class="form-control mb-4" placeholder="E-mail or Username"/>
            <button id="requestRecoveryCode" type="button" class="btn btn-indigo my-4 btn-block">Send Email</button>
            <a href="{{ loginUrl }}">Back to sign in</a>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(document).ready(() => {
            initFormSubmit();
        });

        function initFormSubmit(){
            $("button#requestRecoveryCode").click((event) => {
                event.preventDefault();
                toggleSpinner(true);
                $.ajax({
                    url: "{{ forgotUrl }}",
                    method: "post",
                    data: {
                        "usermail": $("input#usermail").val(),
                    },
                    success: (data, status, jqxhr) => {
                        console.log(data);
                        toggleSpinner(false);
                        $(".message-box")
                            .removeClass("d-none alert-danger")
                            .addClass("alert-info")
                            .html(data);
                    },
                    error: (data, status, jqxhr) => {
                        console.log(data);
                        toggleSpinner(false);
                        $(".message-box")
                            .removeClass("d-none alert-info")
                            .addClass("alert-danger")
                            .html(data.responseJSON);
                    },
                });
            });
        }
    </script>
{% endblock %}