{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
<h1>Elfelejtett jelszó</h1>
<form method="post" action="{{ forgot_url }}">
    <label>
        Email cím:
        <input name="usermail" type="text"/>
    </label>
    <input type="submit" value="Send Email"/>
</form>
{% endblock %}